@media (max-width: 48em) {

	body {
		font-size: 1em;
		margin: 0;
	}

	main, 
	nav ul li {
		margin-right: 2em;
	}

	figure::after {
		content: " ";
		display: block;
		clear: both;
		width: 0;
		height: 0;

	}

	.heribert img {
		width:  100%;
		height: auto;
		display: block;
		position: static;
		float: none;
		margin:  auto;	
	}

	.mobile-hidden {
		display: none;
	}
}

header,
footer {
	background-color: #000;
	color: #fff;
	padding-top: 2em;
}

nav {
	background-color: #FFF80E;
	padding-top: 0.75em;
	padding-bottom: 0.5em;
	text-transform: uppercase;
}

nav li {
	list-style-type: none;
	display: block;
	margin:  auto;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid black;
	text-decoration: none;
}

a {
	text-decoration: none;
}

nav li a {
	margin: auto;
	font-weight: bold;
	color: #000;
}

nav li a:visited {
	background-color: #000;
}

nav li a:hover,
p > a:hover {
	background-color: #000;
	color: #FFF80E;
	text-decoration: none;
	border-radius: 5px;
}

p,
li {
	font-family: 'Cabin', sans-serif;
	font-size: 1.2em;
}

p > a  {
	color:  #6A686E;
	padding:  0.25em;	
}

h1 {
	font-family: 'Old Standard TT', serif;
}

h1,
nav > ul, 
footer {
	text-align: center;
}

h2 {
	font-family: 'Old Standard TT', serif;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 2px dashed black;
	border-radius: 5px;
	font-weight: bold;
}

main {
	margin-bottom: 2em;
	margin-left: 2em;
}

main::after {
	content: " ";
	display: block;
	clear: both;
	width: 0;
	height: 0;
}

figure img {
	width: 50%;
	height: auto;
	position: relative;
	float: right;
	margin: 0.5em;
}

.back-top {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	margin: auto;
	padding: 1em;
	background-color: #FFF80E;
	width: 3em;
	height: 3em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	
}

footer {
	margin-top: 1.5em;
	padding-bottom: 1em;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

