p,
li {
	font-family: 'Cabin', sans-serif;
	font-size: 1.2em;
}

p > a  {
	color:  #6A686E;
	padding:  0.25em;	
}

nav {
	background-color: #FFF80E;
	padding-top: 0.75em;
	padding-bottom: 0.5em;
	text-transform: uppercase;
}

nav li a {
	padding-right: 2em;
	padding-left: 2em;
	font-weight: bold;
	color: #000;
}

p > a:hover,
nav li a:hover {
	background-color: #6A686E;
	color: #fff;
	text-decoration: none;
}

h1 {
	font-family: 'Creepster', cursive;
}

footer > p,
h1 {
	background-color: #000;
	color: #fff;
	padding: 2em;
}

h1,
nav > ul, 
footer {
	text-align: center;
}

nav li {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
}

main,
section {
	margin: 3em;
}

h2 {
	text-align: center;
	background-color: #6A686E;
	color: #fff;
	font-family: 'Old Standard TT', serif;
}

figure {
	text-align: center;
}